.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: hsl(var(--clr-black) / 0.7);
  backdrop-filter: blur(10px);
  left: 0;
  right: 0;
  top: 0;
}

.logo-link {
  display: inline-block;
  max-width: 35px;
  max-height: 35px;
}

.navigation {
  position: fixed;
  background: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  padding: 7rem 2rem 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.75em;
  overflow: auto;
}

.nav__item {
  color: var(--clr-white);
  cursor: pointer;
}
.nav-link {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.has-content {
  position: relative;
}
.has-content:after {
  position: absolute;
  content: url("../public//icons/right-arrow.svg");
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
}

.nav-open.header.scrollDown,
.nav-open.header.scrollUp {
  transform: none;
}

.nav-open .navigation {
  transform: translateX(0);
}

.nav-toggle {
  padding: 0.5em;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
}

.hamburger {
  display: block;
  position: relative;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-8px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .nav-toggle {
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 4;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: hsl(var(--clr-white));
  width: 24px;
  height: 2px;
  border-radius: 1px;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}
.nav-logo {
  position: fixed;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.nav-open .nav-logo {
  top: 25px;
  left: 35px;
  z-index: 4;
  max-height: 42px;
  max-width: 180px;
  transform: translateX(0);
}
.nav-logo span {
  max-height: 42px;
}

.nav__item-sublist {
  margin-left: 1rem;
}
.nav__item-sublist-link {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-block: 0.5em;
}

@media screen and (min-width: 800px) {
  .header {
    height: 120px;
    padding: 2em 2.5em;
  }
  .navigation {
    position: unset;
    transform: unset;
    transition: unset;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    visibility: unset;
    padding: unset;
    margin: unset;
  }
  .nav__item {
    letter-spacing: 1px;
  }

  .logo-container {
    flex-basis: unset;
  }

  .nav-toggle {
    display: none;
  }
}
