.tracks-section {
  margin-bottom: 3rem;
}

.tracks-title {
  text-transform: uppercase;
  margin-bottom: 0.75em;
  letter-spacing: 5px;
  font-size: var(--fs-h2);
}
.icons-container {
  display: flex;
}

.icon-link {
  border: 1px solid hsl(var(--clr-white));
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
